*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1A0B2E;
    
}

/* shared style */
.btn{
    color: #FFFFFF;
    background-color: rgba(247, 12, 118, 0.995);
    border: none;
    padding:12px 16px ;
    border-radius: 25px;
    font-size: 12px;
    font-weight: semibold;
    color: #FFFFFF;
    cursor: pointer;

}
.btn:hover{
    background-color: plum;
}
.btn1:hover{
    background-color: rgb(5, 119, 1);
}
.btn i{
    background-color: transparent;
}
.btn1{
    background-color: transparent;
    border: 2px solid green;
    padding:12px 16px ;
    border-radius: 5px;
    font-size: 16px;
    color: #00FF88;
    cursor: pointer;
}

.badge {
    position:relative;
    top: 30px;
    left: 80px;
    background: #2bff88;
    color: #000;
    padding: 6px 14px;
    font-size: 14px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}
.badge:hover{
    background-color: rgb(247, 81, 183);
}

/* main style */

.header-container{
    border: 0.5px solid blueviolet;
    height: 92px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header h3{
    font-size: 52px ;
    color: #FFFFFF;
    padding: auto 30px ;
    /* border: 1px solid red; */
}

.wave{
    color: rgba(247, 12, 118, 0.995);
    background-color: transparent;
}
.header-mid{
    list-style-type: none;
     
    display: flex;
    gap: 32px;
}
.header-mid a{
        text-decoration: none;
        color: #FFFFFF;
}
.back-container{
    background-color: #2d2061;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
      background-size:cover;
      align-items: center;
      height: 750px;
      /* width: 1200px; */
    /* background-position: ; */
    /* border: 1px solid red; */
    

}
.back {
    /* border:1px solid red; */
    background-color: transparent;
    align-items: center;
    text-align: center;
    height: 450px;
    width: 350px;
     /* padding:  100px ; */
}
.img-con{
   background-color: transparent;
   /* border:1px solid red; */
   height: 320px;
   width: 350px;
    background-image: url(../assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position:top;
      background-size:90%;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.img-con:hover{
   animation: spin 2s linear infinite;
}
.back img{
    
    margin-top: 40px;
    /* border:1px solid red; */
    /* padding: 50px; */
    background-color: transparent;
}
.back h3{
    background-color: transparent;
    /* border:1px solid red; */
    font-size: 60px;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 8px;

}
.back p{
   background-color: transparent;
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.spotify{
    gap: 10px;
}
.about-container{
    align-items: center;
    text-align: center;
    /* border: 1px solid red; */
    padding:  50px 200px;
}
.about {
    /* border:1px solid red; */
    align-items: center;
    text-align: center;
}
.about h3{
    color: #FFFFFF;
    font-size: 48px;
}
.about p{
    color: #FFFFFF;
    font-size: 16px;
}
.about-card{
    /* border:1px solid red; */
    margin-top: 160px;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-around;

}
.card h2{
    color: #00FF88;
    font-size: 48px;

}
.card p{
    color: #FFFFFF;
    font-size: 16px;
}
.chose-container{
    /* border:1px solid red; */
    background-color: #230E3D;
    align-items: center;
    margin-top: 40px;
}
.chose-container h2{
    background-color: #230E3D;
    color: #FFFFFF;
    /* border: 1px solid red; */
    font-size: 48px;
    margin-top: 120px;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 40px;
    text-align: center;

}
.box-1{
    grid-area: box-1;
}
.box-2{
    grid-area: box-2;
}
.box-3{
    grid-area: box-3;
}
.box-4{
    grid-area: box-4;
}
.box-5{
    grid-area: box-5;
}
.chose{
    background-color: #230E3D;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 120px;
    /* border: 1px solid red; */
    display: grid;
    grid-template-areas: 
        "box-1  box-2 box-2"
        "box-1  box-3 box-3"
        "box-4  box-4 box-5"
    ;
}
.box{
    display: grid;
    align-content: center;
    /* border:1px solid red ;  */
    border-radius: 25px;
    padding: 40px;
    background-color: #351165;
}
.box-1{
    margin-bottom: 20px;
}
.box-1,.box-4{
    margin-right: 20px;
}
.box-2,.box-3{
    margin-bottom: 20px;
}
.box img{
    background-color: #351165;
}
.box h3{
    font-size: 24px;
    color: #FFFFFF;
    font: bold;
    margin: 16px 0;
    background-color: #351165;
}
.box p{
    font-size: 16px;
    color: #FFFFFF;
    background-color: #351165;
}
.feature-container h2{
    color: #FFFFFF;
     /* border: 1px solid red; */
     font-size: 48px;
    text-align: center;
    margin-top: 120px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 40px;
}
.card-container{
    border: 1px solid transparent;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    align-items: center;
    /* background-color: #250D44; */
}
.feature-card{
    border-radius: 10px;
    width: 100%;
    height: 440px;
}
.feature-card iframe{
    border-radius: 10px;
    width:100%;
    height: 50%;
}
.card-container  h3{
    margin: 24px;
 font-size: 24px;
 color: #FFFFFF;
}
.card-container p{
    margin-left: 24px;
    margin-bottom: 24px;
 font-size: 16px;
 color: #FFFFFF;
}
.card-container .num{
    font-size: 16px;
 color: #00FF88;   
}
.meet-container{
    margin-right: 200px;
    margin-left: 200px;
}


.meet{
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.alex h3,p{
    color: #FFFFFF;
}
.alex h3{
    font-size: 32px;
    font: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.alex p{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.alex-img{
    border: 1px solid transparent;
    padding: 8px;
    display: flex;
    gap: 8px;

    
}
.alex-img img{
border: 1px solid #533C72;
border-radius: 50%;
padding: 10px;
height: 40px;
    width: 40px;
}

.footer{
    border: 1px solid transparent;
    color: white;
    margin-top: 120px;
    background-image: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
      background-size:cover;
      align-items: center;
}
.footer h1{
    background-color: transparent;
    text-align: center;
    color: #FFFFFF;
    
}
.footer-container{
    background-color: transparent;
    /* border: 1px solid red; */
    margin: 120px;
}
.footer-container h1{
    background-color: transparent;
     font-size: 52px ;
    color: #FFFFFF;
    padding: auto 30px ;
    /* border: 1px solid red; */
}
.footer-icon{
   background-color: transparent;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 65px;
    /* background-color: red; */
    margin-left: 300px;
    margin-right: 300px;
    
    padding: 10px;
    margin-top: 16px;
}
.footer-icon li{
    display: flex;
    gap: 10px;
    align-items: center;
    text-align:justify;
}
.footer-icon a{ 
    background-color: transparent;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    color: #000000;
}
.small {
    background-color: transparent;
}
.small P{
    background-color: transparent;
     text-align: center;
     margin-top: 32px;
}
.none1{
    display: none;
}



/* for small device  */

@media screen and (max-width:576px) {
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
    .none{
        display: none;
    }
    .none1-container{
        display: flex;
        align-items: center;
        text-align: center;
        /* border: 1px solid red; */
        height: 40px;
        width: 40px;
    }
    .none1{
        cursor: pointer;
        display: contents;
        color: #FFFFFF;
        /* border: 1px solid red; */
        margin: 40px;

    }
    .none1 i:hover{
    background-color: rgb(174, 206, 229);
        }
    .none1 i{
        font-size: 24px;
        width: 40px;
    }
    .about-container{
        padding: 0;
        /* border: 1px solid red; */
    }
    .about{
        /* border: 1px solid red; */
        margin: 20px 20px;
    }
    .about-card{
        /* border: 1px solid red; */
        display: grid;
        grid-template-columns: repeat(2,1fr);
        /* margin-bottom: 20px; */
        padding: 15px;
        gap: 20px;
    }
    .chose-container h2{
        /* padding: 0; */
        margin: 30px ;
        /* margin-bottom: 10px; */
        /* width: 100%; */

    }
    .chose{
        padding: 0;
        margin: 0;
        display: grid;
        justify-content: center;
        grid-template-areas: 
        "box-1"
        "box-2"
        "box-3"
        "box-4"
        "box-5"
        ;
    }
    .box{
       width: 100%;
        margin-bottom: 16px;
    }
   .feature-container h2{
        margin: 30px ;
   }
   .card-container{
    padding: 0;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
   }
   .footer{
     width: auto;
    /* border: 1px solid red; */
      background-image: url(../assets/footer-bg.png);
    background-size: 100% 70%;
    background-position: center; 
   }
   .meet-container{
        margin: 10px;
            }
   .meet-container h2{
    /* border: 1px solid red; */
    margin: 0 ;
   }
   .meet{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    justify-items: center;
    text-align: center;
    padding: 10px;
   }
   .alex-img{
    display: flex;
    justify-content: center;
    
   }
   .footer-icon{
    padding: 10px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    text-align: center;
   }
   .footer-icon li{
     background-color: transparent;
   }
}
