*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1A0B2E;
    
}

/* shared style */
.btn{
    list-style-type: none;
    color: #FFFFFF;
    list-style-type: none;
    background-color: rgba(247, 12, 118, 0.995);
    border: none;
    padding:12px 16px ;
    border-radius: 25px;
    font-size: 12px;
    font-weight: semibold;
    color: #FFFFFF;
    cursor: pointer;

}
.btn1{
    list-style-type: none;
    background-color: transparent;
    border: 2px solid green;
    padding:12px 16px ;
    border-radius: 5px;
    font-size: 16px;
    color: #00FF88;
    cursor: pointer;
}



/* main style */

.header-container{
    border: 0.5px solid blueviolet;
    height: 92px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header h3{
    font-size: 52px ;
    color: #FFFFFF;
    padding: auto 30px ;
    /* border: 1px solid red; */
}
.wave{
    color: rgba(247, 12, 118, 0.995);
}
.header-mid{
    list-style-type: none;
     
    display: flex;
    gap: 32px;
}
.header-mid a{
        text-decoration: none;
        color: #FFFFFF;
}
.back-container{
    align-items: center;
    text-align: center;
    /* border: 1px solid red; */
    padding:  101px 500px;

}
.back {
    /* border:1px solid red; */
    align-items: center;
    text-align: center;
     /* padding:  100px ; */
}
.back img{
    /* border:1px solid red; */
}
.back h3{
    /* border:1px solid red; */
    font-size: 60px;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 8px;

}
.back p{
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.spotify{
    gap: 10px;
}
.about-container{
    align-items: center;
    text-align: center;
    /* border: 1px solid red; */
    padding:  50px 200px;
}
.about {
    /* border:1px solid red; */
    align-items: center;
    text-align: center;
}
.about h3{
    color: #FFFFFF;
    font-size: 48px;
}
.about p{
    color: #FFFFFF;
    font-size: 16px;
}
.about-card{
    /* border:1px solid red; */
    margin-top: 160px;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-around;

}
.card h2{
    color: #00FF88;
    font-size: 48px;

}
.card p{
    color: #FFFFFF;
    font-size: 16px;
}
.chose-container{
    /* border:1px solid red; */
    background-color: #230E3D;
    align-items: center;
    margin-top: 40px;
}
.chose-container h2{
    background-color: #230E3D;
    color: #FFFFFF;
    /* border: 1px solid red; */
    font-size: 48px;
    margin-top: 120px;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 40px;
    text-align: center;

}
.box-1{
    grid-area: box-1;
}
.box-2{
    grid-area: box-2;
}
.box-3{
    grid-area: box-3;
}
.box-4{
    grid-area: box-4;
}
.box-5{
    grid-area: box-5;
}
.chose{
    background-color: #230E3D;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 120px;
    /* border: 1px solid red; */
    display: grid;
    grid-template-areas: 
        "box-1  box-2 box-2"
        "box-1  box-3 box-3"
        "box-4  box-4 box-5"
    ;
}
.box{
    display: grid;
    align-content: center;
    /* border:1px solid red ;  */
    border-radius: 25px;
    padding: 40px;
    background-color: #351165;
}
.box-1{
    margin-bottom: 20px;
}
.box-1,.box-4{
    margin-right: 20px;
}
.box-2,.box-3{
    margin-bottom: 20px;
}
.box img{
    background-color: #351165;
}
.box h3{
    font-size: 24px;
    color: #FFFFFF;
    font: bold;
    margin: 16px 0;
    background-color: #351165;
}
.box p{
    font-size: 16px;
    color: #FFFFFF;
    background-color: #351165;
}





